# Configurações do Banco de Dados (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=senha_segura_da_etec
POSTGRES_NAME=classon_db

# Configurações do Backend (NestJS)
PORT=3001
JWT_SECRET=mudar_para_um_hash_longo_depois

# URL do Frontend (Next.js)
FRONTEND_URL=http://localhost:3000
